<% include includer.html %>

<body>
<!-- ================================= top ===================================================== -->
<% include top.html %>
<!-- ================================= menu ==================================================== -->
<% include menu.html %>
<!-- ================================= content ================================================= -->
  <div class="inside single">
  <table border="0" cellpadding="0" cellspacing="0" style="width: 950px;">
    <tbody>
        <tr>
            <td style="text-align:center; vertical-align: top;"> 這是 <%= Content %> 頁面!
            </td>
        </tr>
    </tbody>
  </table>
  <br />
  </div>
 </div>
</div>

<!-- ================================= bottom =========================================================== -->
<% include footer.html %>
</body>
</html>
