<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta http-equiv="content-language" content="zh-tw" />
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<title><%= Title %></title>
<!--<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">-->
<!--<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>-->
<link type="text/css" rel="stylesheet" href="/material-design-icons/iconfont/material-icons.css">
<!-- Compiled and minified CSS -->
<link rel='stylesheet' href='/css/jquery-ui.min.css'>
<link rel="stylesheet" href="/css/jquery-ui-timepicker-addon.min.css" type="text/css">
<link rel="stylesheet" href="/css/materialize.min.css"  type="text/css">
<link rel="stylesheet" href="/css/style.css" type="text/css">
<!--<link rel="stylesheet" href="/css/datepicker.css" type="text/css">-->
<link rel='stylesheet' href='/css/jquery-ui.theme.min.css'>
<link rel='stylesheet' href='/css/jquery-ui.structure.min.css'>
<link rel="stylesheet" type="text/css" href="/sweetalert/dist/sweetalert.css">
</head>