<% include includer.html %>
<style>
select {
 border:2px solid #9A9A9A;
}
select option span {
 color:red;
}
.redText {
 color:red;
}
.greenText {
 color:green;
}
.blueText {
 color:blue;
}
[type="checkbox"]+label {
 padding-left:25px;
}
label {
 color: #000000;
}
[type="radio"]:not(:checked)+label, [type="radio"]:checked+label {
 padding-left: 25px;
 width: 15%;
}
</style>

<body>
<!-- ================================= top ===================================================== -->
<% include top.html %>
<!-- ================================= menu ==================================================== -->
<% include menu.html %>
<!-- ================================= content ================================================= -->
  <div class="inside single">
    <div id="basicformModal" style="text-align:left"><%= Content %></div><!--<hr id="line-content">-->
    <ul class="collapsible" data-collapsible="expandable">
      <li>
        <div class="collapsible-header active"><i class="material-icons">play_arrow</i>篩選條件</div>
        <div class="collapsible-body" style="text-align:center;">
          <div id="filterLists">
            <table cellspacing=0 cellpadding=0>
              <tr id="switch_timerange" style="display:;">
                <td id='timerangetable'></td>
              </tr>
            </table>
          </div>
        <br />
        </div>
      </li>
    </ul>
    <!------------------------------------------ Show Query Subject Result Begin ------------------------------------------------------>
<% include query_table.html %>
    <!------------------------------------------ Show Query Subject Result End -------------------------------------------------------->
  <br/>
  </div>
 </div>
</div>

<!-- ================================= bottom =========================================================== -->
<% include footer.html %>
<!--<script src="/js/filesaver.min.js"></script>
<script src="/js/tableexport.min.js"></script>-->
<!--<script src="/js/accounting.min.js"></script>-->
<script src="/js/jquery.tabletoCSV.js"></script>
<script src="/js/selectbox.js"></script>
<script src="/js/filters.js"></script>
<script src="/js/memberstatistics.js"></script>
</body>
</html>
