<div id="temp">
  <div class="article">
     <!--<hr id="line-top">-->
     <div id="nav">
        <!--<p class="title">關鍵字廣告</p>-->
        <div class="btns">
           <div id="rt0">
               <a href="/" class="dropdown-button m1" data-activates='rl0'>帳號管理</a>
               <ul id="rl0" class='dropdown-content'>
                 <li><a href="/home/calendar"<% if (Page=='calendar'){%> class="active"<%}%>><span></span>會員基本報表查詢與設定</a></li>
                 <li><a href="/home/server_status"<% if (Page=='server_status'){%> class="active"<%}%>><span></span>停權查詢與設定</a></li>
                 <li><a href="/home/server_status"<% if (Page=='server_status'){%> class="active"<%}%>><span></span>會員遊戲概況查詢</a></li>
                 <li><a href="/home/server_status"<% if (Page=='server_status'){%> class="active"<%}%>><span></span>會員儲值概況查詢</a></li>
                 <li><a href="/home/server_status"<% if (Page=='server_status'){%> class="active"<%}%>><span></span>會員轉點概況查詢</a></li>
                 <li><a href="/home/server_status"<% if (Page=='server_status'){%> class="active"<%}%>><span></span>會員登入概況查詢</a></li>
                 <li><a href="/home/server_status"<% if (Page=='server_status'){%> class="active"<%}%>><span></span>會員持有寶物查詢</a></li>
                 <!--<li><a href="/logout"><span></span>登出 (Logout)</a></li>-->
               </ul>
           </div>
           <div id="rt1">
               <a href="javascript: void(0);" class="dropdown-button m1" data-activates='rl1'>歷程查詢</a>
               <ul id="rl1" class='dropdown-content'>
                 <li><a href="/user/account"<% if (Page=='account'){%> class="active"<%}%>><span></span>遊戲幣異動歷程查詢</a></li>
                 <li><a href="/user/financial_history"<% if (Page=='financial_history'){%> class="active"<%}%>><span></span>會員遊戲歷程查詢</a></li>
                 <li><a href="/user/friend_list"<% if (Page=='friend_list'){%> class="active"<%}%>><span></span>儲值歷程查詢</a></li>
                 <li><a href="/user/equipment"<% if (Page=='equipment'){%> class="active"<%}%>><span></span>轉點歷程查詢</a></li>
                 <li><a href="/user/equipment"<% if (Page=='equipment'){%> class="active"<%}%>><span></span>登入歷程查詢</a></li>
                 <li><a href="/user/equipment"<% if (Page=='equipment'){%> class="active"<%}%>><span></span>連線彩金歷程查詢</a></li>
               </ul>
           </div> 
           <div id="rt2">
               <a href="javascript: void(0);" class="dropdown-button m1" data-activates='rl2'>遊戲管理</a>
               <ul id="rl2" class='dropdown-content'>
                 <li><a href="/game/info"<% if (Page=='info'){%> class="active"<%}%>><span></span>遊戲監控與設定</a></li>
                 <li><a href="/game/push_notification"<% if (Page=='push_notification'){%> class="active"<%}%>><span></span>機台監控與設定</a></li>
                 <li><a href="/game/bonus"<% if (Page=='bonus'){%> class="active"<%}%>><span></span>連線彩金監控與設定</a></li>
                 <li><a href="/game/parameters"<% if (Page=='parameters'){%> class="active"<%}%>><span></span>特殊機率名單與設定</a></li>
                 <li><a href="/game/activity"<% if (Page=='activity'){%> class="active"<%}%>><span></span>虛寶卡任務</a></li>
                 <li><a href="/game/robot"<% if (Page=='robot'){%> class="active"<%}%>><span></span>虛寶卡管理</a></li>
                 <li><a href="/game/speciallBonus"<% if (Page=='speciallBonus'){%> class="active"<%}%>><span></span>虛寶發送</a></li>
                 <li><a href="/game/rankViewList"<% if (Page=='rankViewList'){%> class="active"<%}%>><span></span>機器人管理</a></li>
                 <li><a href="/game/rankViewList"<% if (Page=='rankViewList'){%> class="active"<%}%>><span></span>試玩管理</a></li>
               </ul>
           </div> 
           <div id="rt3">
               <a href="javascript: void(0);" class="dropdown-button m1" data-activates='rl3'>營運管理</a>
               <ul id="rl3" class='dropdown-content'>
                 <li><a href="/business/statistics"<% if (Page=='statistics'){%> class="active"<%}%>><span></span>會員統計</a></li>
                 <li><a href="/business/billing"<% if (Page=='billing'){%> class="active"<%}%>><span></span>歷史VIP會員查詢</a></li>
                 <li><a href="/business/cashflow"<% if (Page=='cashflow'){%> class="active"<%}%>><span></span>儲值統計</a></li>
                 <li><a href="/business/jpleaderboard"<% if (Page=='jpleaderboard'){%> class="active"<%}%>><span></span>即時在線</a></li>
                 <li><a href="/business/scoreleaderboard"<% if (Page=='scoreleaderboard'){%> class="active"<%}%>><span></span>歷史在線</a></li>
                 <li><a href="/business/tomco_card"<% if (Page=='tomco_card'){%> class="active"<%}%>><span></span>留存率</a></li>
                 <li><a href="/business/tomco_card"<% if (Page=='tomco_card'){%> class="active"<%}%>><span></span>流失數</a></li>
                 <li><a href="/business/tomco_card"<% if (Page=='tomco_card'){%> class="active"<%}%>><span></span>回流數</a></li>
               </ul>
           </div>
           <div id="rt4">
               <a href="javascript: void(0);" class="dropdown-button m1" data-activates='rl4'>公告管理</a>
               <ul id="rl4" class='dropdown-content'>
                 <li><a href="/account/setup"<% if (Page=='setup'){%> class="active"<%}%>><span></span>管理者帳號設定</a></li>
                 <li><a href="/account/list"<% if (Page=='list'){%> class="active"<%}%>><span></span>管理者列表</a></li>
                 <li><a href="/account/log"<% if (Page=='log'){%> class="active"<%}%>><span></span>後台操作 LOG</a></li>
                 <li><a href="/account/auth_edit"<% if (Page=='auth_edit'){%> class="active"<%}%>><span></span>權限管理</a></li>
               </ul>
           </div>
           <div id="rt5">
               <a href="javascript: void(0);" class="dropdown-button m1" data-activates='rl5'>聊天客服</a> 
               <ul id="rl5" class='dropdown-content'>
                 <li><a href="/chat/chatroom"<% if (Page=='chatroom'){%> class="active"<%}%>><span></span>InGame聊天</a></li>
                 <li><a href="/chat/common_board"<% if (Page=='common_board'){%> class="active"<%}%>><span></span>回報問題統整</a></li>
               </ul>
           </div>
        </div>
     </div>
