    <div id="dialog-form" title="Save Form" style="display:none;">
      <form>
        <table>
          <tr><td>異動說明：(請輸入修改原因)</td></tr>
          <tr><td><input type="text" name="modify_reason" id="modify_reason" v-model="modify_reason" value="" class="text ui-widget-content ui-corner-all" style="width:100%"></td></tr>
          <tr><td>異動項目：(請確定修改項目)</td></tr>
          <tr><td><textarea id='alert_desc'>
              2016/6/6 23:25:12  twodog
              異動動項目
              1.聊天狀態： 正常 --> 遊戲停權
              2.目前G幣： 1,740,000 --> 1,745,000
              3.開運金： 7,000 --> 0
              異動說明：一二三四五六七八九十一二三四五六七八九十
              --------------------------------------------------------------------------------------------------------------
              2016/6/5 23:24:12  neil
              異動動項目
              1.暱稱： 幸運星123456 --> 土豆仁
              2.機率名單： RTP001 --> 無
              異動說明：一二三四五六七八九十一二三四五六七八九十
              --------------------------------------------------------------------------------------------------------------
              2016/6/5 23:24:12  hank
              異動動項目
              1.LV： 1 --> 999
              2.累積經驗值： 0 --> 1,854,999,944
              異動說明：一二三四五六七八九十一二三四五六七八九十
          </textarea></td></tr>
        </table>
      </form>
    </div>