<div id="top">
  <div class="temp">
    <div id="header_l"><h1 id="title">GoWin2 Admin</h1></div>
    <!--<div id="header_c">今日登入 : 1 次 | IP 位址 : 172.16.18.33 | 資料庫狀態 : 正常 | 伺服器狀態 : 正常 |</div>-->
    <div id="header_r2"><a href='javascript:;' id='logout' class="wrapper"><span class="t5">登出</span><img id='img3' src='/images/button_2blue.png'></a></div>
    <div id="header_r1">今日登入 : <%= Login_Times %> 次&nbsp;&nbsp;&nbsp;&nbsp;<%= Login_User %></div>
    	<!--<a id='logout' class="btn waves-effect waves-light header_logout_btn">登出</a></div>-->
  </div>
</div>
